$card-height: 400px;

.card_container {
    width: 50%;
    .mycard {
        margin: 1rem;
        height: $card-height !important;
        font-size: large !important;
        display: flex;
        flex-direction: row;

        .card-overlay {
            margin: 30px;
            padding: 30px;
            background-color: white;
            opacity: 0;
            transition: all 600ms ease-in-out;

            &:hover {
                opacity: 1;
            }
        }

        .image_container {
            // width: inherit!important;
            width: 100%!important;
            height: 100%!important;
            overflow: hidden!important;
            /* Hides the overflow content */
            display: flex!important;
            justify-content: center!important;
            align-items: center!important;

        }


        .card-img {
            min-width: 100%!important;
            min-height: 100%!important;
            object-fit: cover !important;
        }

        .top {
            display: flex !important;
            flex-direction: column !important;

            .card-title {
                font-size: 30px !important;
            }
        }

        .bottom {
            display: flex !important;
            flex-direction: row !important;
            justify-content: center !important;
            width: 100%;

            .card-title {
                font-size: 30px !important;
            }
        }
    }
}