.blog-page {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.title-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-title {
  
  max-width: 70%;
  font-size: 3rem;
  color: #333;
}

.content {
  padding: 1rem;
}

.creator-name {
  // font-size: 1.25rem;
  color: #666;
  margin: 0;
}

.creator-section {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.last-updated {
  font-size: 1.25rem;
  color: #999;
}

.blog-id,
.user-id {
  font-size: 0.5rem;
  color: #aaa;
}

.blog-image {
  width: 100%;
  border-radius: 3%;
}


.user-profile-pic {
  max-width: 3rem;
  border-radius: 50%;
  margin: 0 10px;

}

.content-image {
  margin: 1rem;
}

.content_text {
  font-size: 1.25rem;
  text-align: start;
  padding: 1rem 5rem;
  margin: 1rem;
}
