.blog_creation_form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.form_group_footer {
    justify-content: flex-end !important;
    align-items: flex-end !important;
}