@import "./variables";

.post_comment {
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  form {
    width: 100%;
    display: flex;
    flex-direction: column;

    .form-group_button {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-end;
      padding: 0.25rem;
    }


    button {
      @include myButton();
    }
  }
}
